<div class="container mt-2">
  <div class="mb-4 mt-4 border-bottom border-dark heading-border clearfix">
    <h4 class="float-left">Manage Payment Modes </h4>
    <button (click)="viewAddModal(addModeModal)" class="btn btn-outline-info float-right">Add New</button>
  </div>
  <div class="mb-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let mode of paymentModes; index as i"
        (mouseover)="cf.hidden=false; ts.hidden=true" (mouseleave)="cf.hidden=true; ts.hidden=false">

        <span class="font-weight-bold mr-2">{{mode.paymodeName}}</span>

        <div class="float-right row">
          <span class="text-muted font-weight-lighter mr-3" style="font-size: 12px;" #ts>Edited on
            {{mode.timestamp | date : 'EEE, dd MMM'}}</span>
          <div hidden="true" #cf>

            <a (click)="viewAddModal(addModeModal, mode, i)">
              <img [src]="editLogo" class="ml-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="Edit this Payment Mode" />
            </a>

            <a (click)="viewDeleteModal(deleteModeModal, mode, i)">
              <img [src]="garbageLogo" class="ml-3 mr-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="Delete this Payment Mode" />
            </a>

          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #addModeModal>
  <div>
    <div class="modal-header">
      <h4 *ngIf="!isEditing" class="modal-title pull-left">Add New Payment Mode</h4>
      <h4 *ngIf="isEditing" class="modal-title pull-left">Edit Payment Mode</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="restoreOriginalValue()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form" #f="ngForm" (ngSubmit)="f.valid && save()">
        <div class="form-group col-sm-6">
          <label for="paymentModeInput"> Payment Mode Name* </label>
          <input class="form-control" id="paymentModeInput" name="paymentModeInput" required
            [(ngModel)]="selectedModeName" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="restoreOriginalValue()">Cancel</button>
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
    </div>

  </div>
</ng-template>

<ng-template #deleteModeModal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Payment Mode</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete Payment Mode "{{modeSelected.paymodeName}}"? </p>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="deleteModalRef.hide()">Cancel</button>
      <button class="btn btn-danger" (click)="deletePaymentMode()">Yes, Delete</button>
    </div>
  </div>
</ng-template>