<div class="container mt-2">
  <div class="mb-4 mt-4 border-bottom border-dark heading-border  clearfix">
    <h4 class="float-left">View Payments </h4>
    <div class="float-right mb-2">
      <button class="btn btn-info mr-3" (click)="viewManageFiltersModal(filtersModal)">Manage Filters</button>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-info dropdown-toggle"
          aria-controls="dropdown-basic">
          Sort By: {{sortingApplied}}<span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a (click)="sortArray('mostRecentPaymentFirst')" class="dropdown-item">Most Recent Payment
              First</a></li>
          <li role="menuitem"><a (click)="sortArray('oldestPaymentFirst')" class="dropdown-item">Oldest Payment
              First</a></li>
          <li role="menuitem"><a (click)="sortArray('paymentAmountLowToHigh')" class="dropdown-item">Payment Amount: Low
              to High</a></li>
          <li role="menuitem"><a (click)="sortArray('paymentAmountHighToLow')" class="dropdown-item">Payment Amount:
              High to Low</a></li>
          <li role="menuitem"><a (click)="sortArray('recentlyAddedPayment')" class="dropdown-item">Recently Added
              Payment</a></li>
        </ul>
      </div>
      <img [src]="gridViewLogo" class="img-icon mr-2 ml-3 img-thumbnail" (click)="changeView('grid')"
        data-toggle="tooltip" data-placement="bottom" title="Show as Grid" />
      <img [src]="listViewLogo" class="img-icon img-thumbnail" (click)="changeView('list')" data-toggle="tooltip"
        data-placement="bottom" title="Show as List" />
    </div>
  </div>

  <div *ngIf="filtersApplied.length>0" class="row mb-3 ml-3 mr-3">
    <label>Filters Applied: </label>
    <label class="ml-3" *ngFor="let filter of filtersApplied"><span
        class="badge badge-pill badge-success text-size-large pb-2">{{filter.filterName}}:
        {{filter.filterValues.toString()}}
      </span></label>
  </div>
  <div class="card-columns mb-4" *ngIf="isGridView">
    <div class="card p-3" *ngFor="let p of payments; index as i"
      (mouseover)="cf.hidden=false; nomouse.hidden=true; mouse.hidden=false"
      (mouseleave)="cf.hidden=true; nomouse.hidden=false; mouse.hidden=true">
      <!-- [ngClass]="{
        'border-primary': p.paymentCategory=='Transport',
        'border-secondary': (p.paymentCategory=='Flat Amenities' || p.paymentCategory=='Stationary'),
        'border-success': p.paymentCategory=='Food',
        'border-danger': (p.paymentCategory=='Self' || p.paymentCategory=='Family' || p.paymentCategory=='Friends' || p.paymentCategory=='Clothes'),
        'border-warning': (p.paymentCategory=='Entertainment' || p.paymentCategory=='Online Services'),
        'border-info': p.paymentCategory=='Grocery',
        'border-dark': p.paymentCategory=='Food'
      }"  -->
      <div class="clearfix">
        <h6 class="card-title float-left">
          <div class="font-weight-bold" #nomouse>{{p.title | adjustLength:40}}</div>
          <div class="font-weight-bold" #mouse hidden="true">{{p.title | adjustLength:30}}</div>
        </h6>
        <div class="float-right">
          <div hidden="true" #cf>

            <a (click)="viewDetails(detailsModal, p, i)">
              <img [src]="detailLogo" class="img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="View Payment Details" />
            </a>

            <a routerLink="/editPayment/{{p.payid}}">
              <img [src]="editLogo" class="ml-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="Edit this Payment" />
            </a>

            <a (click)="deleteModal(modal, p, i)">
              <img [src]="garbageLogo" class="ml-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="Delete this Payment" />
            </a>

          </div>
        </div>
      </div>
      <div>
        <div>
          Amount: {{p.amount | currency: 'INR' :'symbol': '1.0-1'}}
        </div>
        <div>
          Paid on: {{p.dateOfTransaction | date}}
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4" *ngIf="!isGridView">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let p of payments; index as i" (mouseover)="cf.hidden=false; ts.hidden=true"
        (mouseleave)="cf.hidden=true; ts.hidden=false">

        <span class="font-weight-bold mr-2">{{p.title | adjustLength:50}}</span>
        <span class="mr-2 ml-2">|</span>
        <span class="mr-2 ml-2">{{p.description | adjustLength:50}}</span>
        <span class="mr-2 ml-2">|</span>
        <span class="mr-2 ml-2">Paid <span
            class="font-weight-bold">{{p.amount | currency: 'INR' :'symbol': '1.0-1'}}</span>
          on {{p.dateOfTransaction | date}} by {{p.payType}}</span>
        <!-- <span class="mr-2 ml-2">|</span>
        <span class="mr-2 ml-2">Paid on: {{p.dateOfTransaction | date}}</span> -->

        <div class="float-right row">
          <span class="text-muted font-weight-lighter mr-3" style="font-size: 12px;" #ts>Edited on
            {{p.timestamp | date : 'EEE, dd MMM'}}</span>
          <div hidden="true" #cf>

            <a (click)="viewDetails(detailsModal, p, i)">
              <img [src]="detailLogo" class="img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="View Payment Details" />
            </a>

            <a routerLink="/editPayment/{{p.payid}}">
              <img [src]="editLogo" class="ml-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="Edit this Payment" />
            </a>

            <a (click)="deleteModal(modal, p, i)">
              <img [src]="garbageLogo" class="ml-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                title="Delete this Payment" />
            </a>

          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Deletion Confirmation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Payment record once deleted cannot be retreived. It will also change the relevant calculations.</p>
    <p>Payment Title: {{paymentSelected.title}}
      <br>Amount Paid: {{paymentSelected.amount | currency: 'INR' : 'symbol' : '1.2-2'}}</p>
    <p><strong>Are you sure you want to delete it?</strong></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-danger" (click)="deletePayment(); modalRef.hide()">Delete</button>
  </div>
</ng-template>


<ng-template #detailsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left ml-3">Payment Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="detailsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ml-3 mr-3">
    <p>Payment Id: {{paymentSelected.payid}}</p>
    <p><strong>Payment Title: {{paymentSelected.title}}</strong></p>
    <p>Payment Description: {{paymentSelected.description}}</p>
    <p><strong>Amount Paid: {{paymentSelected.amount | currency: 'INR' : 'symbol' : '1.2-2'}}</strong></p>
    <p><strong>Date of Transaction: {{paymentSelected.dateOfTransaction | date : 'longDate'}}</strong></p>
    <p>Paid To: {{paymentSelected.entityPaidTo}}</p>
    <p>Payment Category: {{paymentSelected.paymentCategory}}</p>
    <p>Payment Type: {{paymentSelected.payType}}</p>
    <p *ngIf="paymentSelected.payType!='Cash'">Payment Entity: {{paymentSelected.paymentEntity}}</p>
    <p class="text-muted" style="font-size: 14px;">Edited on {{paymentSelected.timestamp | date : 'medium'}}</p>
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" routerLink="/editPayment/{{paymentSelected.payid}}"
      (click)="detailsModalRef.hide()">Edit</button>
    <button class="btn btn-danger"
      (click)="deleteModal(modal, paymentSelected, indexSelected); detailsModalRef.hide()">Delete</button>
  </div>
</ng-template>

<ng-template #addEditFilter>
  <div class="modal-header">
    <h4 class="modal-title pull-left ml-3">Add/Edit Filter</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddEditFilterModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row justify-content-center mt-4">
      <div class="form-group ml-3">
        <label for="filterTypeInput">Select Filter Type: </label>
        <select class="form-control" id="filterTypeInput" name="filterTypeInput" required
          [(ngModel)]="filterTypeString">
          <!-- <option value="paymentDate">Payment Date</option>
          <option value="paymentAmount">Payment Amount</option>
          <option value="paymentCategory">Payment Category</option>
          <option value="paymentMode">Payment Mode</option>
          <option value="paymentEntity">Payment Entity</option> -->
          <option *ngFor="let option of filterTypeOptions; let i = index" 
            value="{{option}}">{{convertTypeToName(option)}}</option>
        </select>
      </div>

      <div *ngIf="filterTypeString=='paymentDate'" class="col-xs-12 col-12 col-md-4 form-group">
        <label>Select Date Range: </label>
        <input type="text" placeholder="Daterangepicker" [(ngModel)]="bsDateRangeValue" 
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" class="form-control" bsDaterangepicker>
      </div>

      <div *ngIf="filterTypeString=='paymentAmount'" class="form-group ml-3">
        <label for="minAmountInput">Min. Amount</label>
        <input type="number" class="form-control" id="minAmountInput" [(ngModel)]="minAmountFilter" name="minAmountInput">
      </div>

      <div *ngIf="filterTypeString=='paymentAmount'" class="form-group ml-3">
        <label for="maxAmountInput">Max. Amount</label>
        <input type="number" class="form-control" id="maxAmountInput" [(ngModel)]="maxAmountFilter" name="maxAmountInput">
      </div>

      <div *ngIf="filterTypeString=='paymentCategory'" class="ml-5">
        <label>Select Payment Categories: </label>
        <div *ngFor="let category of paymentCategories">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value=""
                [(ngModel)]="category.selected">{{category.categoryName}}
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="filterTypeString=='paymentEntity'" class="ml-5">
        <label>Select Payment Entities: </label>
        <div *ngFor="let entity of paymentEntities">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value=""
                [(ngModel)]="entity.selected">{{entity.entityName}}
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="filterTypeString=='paymentMode'" class="ml-5">
        <label>Select Payment Modes: </label>
        <div *ngFor="let mode of paymentModes">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="" [(ngModel)]="mode.selected">{{mode.paymodeName}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div *ngIf="nullValueErrorBoolean" class="mr-3 text-danger">
      <h6>{{errorMsg}}</h6>
    </div>
    <button class="btn btn-outline-secondary" (click)="closeAddEditFilterModal()">Close</button>
    <button *ngIf="filterTypeString!=''" (click)="addFilter(filterTypeString)"
      class="btn btn-primary ml-3">Submit</button>
  </div>
</ng-template>

<ng-template #filtersModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left ml-3">Manage Filters</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeFilterModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body ml-3 mr-3">
    <div class="mb-4" *ngIf="filtersApplied.length>0">
      <h6 class="mb-3">Filter(s) Applied: </h6>
      <div class="row ml-5 mr-5">
        <label class="ml-3" *ngFor="let filter of filtersApplied"><span
            class="badge badge-pill badge-success text-size-large pb-2">{{filter.filterName}}:
            {{filter.filterValues.toString()}}
          </span></label>
      </div>
    </div>
    <div class="mb-4 mt-2" *ngIf="filtersApplied.length==0">
      <h5 class="text-danger">No Filter Applied Yet!</h5>
    </div>
    <div>
      <h6 class="mb-3">Add/Remove Filters: </h6>
      <div class="row ml-5 mr-5">
        <div *ngIf="filtersSelected.length>0">
          <label class="ml-3" *ngFor="let filter of filtersSelected; let i=index"><span
              (click)="viewAddEditFilter(addEditFilter, i)"
              class="badge badge-pill badge-warning text-size-large pb-2">{{filter.filterName}}:
              {{filter.filterValues.toString()}}
              <span (click)="removeFilter(i)" aria-hidden="true">&times;</span>
            </span></label>
        </div>
        <label (click)="viewAddEditFilter(addEditFilter)" *ngIf="!allFiltersSelectedBoolean" class="ml-3"><span
            class="badge badge-pill badge-primary text-size-large pb-2">Add New Filter
          </span></label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" (click)="closeFilterModal()">Close</button>
    <button *ngIf="filtersApplied.length>0" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom"
      title="Sets the originally applied Filter(s)" (click)="resetFilters()">Reset</button>
    <button *ngIf="filtersSelected.length==0 && filtersApplied.length==0" class="btn btn-primary" disabled
      data-toggle="tooltip" data-placement="bottom" title="Add atleast one Filter to enable this button"
      (click)="applyFilters()">Apply</button>
    <button *ngIf="filtersSelected.length>0 || filtersApplied.length>0 " class="btn btn-primary" data-toggle="tooltip"
      data-placement="bottom" title="Applies the Filter(s) selected above to Payments"
      (click)="applyFilters()">Apply</button>
  </div>
</ng-template>


<lib-ngx-notification></lib-ngx-notification>