.heading-border{
    border-style: solid !important;
    border-width:  0px 0px 3px 0px !important;
}

.img-icon{
    width: 28px !important;
    height: 28px !important;
}

.img-icon-small{
    width: 19px !important;
    height: 19px !important;
}

.middle-align{
    vertical-align: middle;
}

.text-size-large{
    font-size: 16px;
    font-weight: normal;
}