<div class="container mt-2">
    <div class="mb-4 mt-4 border-bottom border-dark heading-border clearfix">
      <h4 class="float-left">Manage Payment Entities </h4>
      <button (click)="viewAddModal(addEntityModal)" class="btn btn-outline-info float-right">Add New</button>
    </div>
    <div class="mb-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let entity of paymentEntities; index as i"
          (mouseover)="cf.hidden=false; ts.hidden=true" (mouseleave)="cf.hidden=true; ts.hidden=false">
  
          <span class="font-weight-bold mr-2">{{entity.entityName}}</span>
  
          <div class="float-right row">
            <span class="text-muted font-weight-lighter mr-3" style="font-size: 12px;" #ts>Edited on
              {{entity.timestamp | date : 'EEE, dd MMM'}}</span>
            <div hidden="true" #cf>
  
              <a (click)="viewAddModal(addEntityModal, entity, i)">
                <img [src]="editLogo" class="ml-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                  title="Edit this Payment Entity" />
              </a>
  
              <a (click)="viewDeleteModal(deleteEntityModal, entity, i)">
                <img [src]="garbageLogo" class="ml-3 mr-3 img-icon-small" data-toggle="tooltip" data-placement="bottom"
                  title="Delete this Payment Entity" />
              </a>
  
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <ng-template #addEntityModal>
    <div>
      <div class="modal-header">
        <h4 *ngIf="!isEditing" class="modal-title pull-left">Add New Payment Entity</h4>
        <h4 *ngIf="isEditing" class="modal-title pull-left">Edit Payment Entity</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="restoreOriginalValue()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" #f="ngForm" (ngSubmit)="f.valid && save()">
          <div class="form-group col-sm-6">
            <label for="paymentEntityInput"> Payment Entity Name* </label>
            <input class="form-control" id="paymentEntityInput" name="paymentEntityInput" required
              [(ngModel)]="selectedEntityName" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="restoreOriginalValue()">Cancel</button>
            <button type="submit" class="btn btn-danger">Submit</button>
          </div>
        </form>
      </div>
  
    </div>
  </ng-template>
  
  <ng-template #deleteEntityModal>
    <div>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Payment Entity</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Payment Entity "{{entitySelected.entityName}}"? </p>
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="deleteModalRef.hide()">Cancel</button>
        <button class="btn btn-danger" (click)="deletePaymentEntity()">Yes, Delete</button>
      </div>
    </div>
  </ng-template>